<%= 4+3 %>

<div class="title"> 
<h1>Todo List</h1>
</div>  


<div class="todos">
<ul>
    
    <li>
        <input type="checkbox"/>
        <a href="show/1">finish making todo app</a>
        <span class="time"> 10 pomadoros </span> 
    </li>
    
    <li>
        <input type="checkbox"/>
        <a href="show/2">catsit neighbors cat</a>
        <span class="time"> 10 pomadoros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        <a href="show/3">finish summer homework</a>
        <span class="time"> 20 pomadoros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        <a href="show/4">finish reading books</a>
        <span class="time"> 30 pomadoros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        <a href="show/5">return books to the library</a>
        <span class="time"> 1 pomadoros</span>
    </li>    
</ul>
</div>


    <input type="submit" value="add todo" id="todobutton"/>
    
    <input type="number" placeholder="number of pomadaros" id="pomadarosinput"/>
    
    <input type="text" placeholder="name of todo" id="todoinpput"/>



