<div class="title"> 
<h1>Todo List</h1>
</div>  


<div class="todos">
<ul>
    
    <li>
        <input type="checkbox"/>
        finish making todo app
        <span class="time"> 10 pomadaros </span> 
    </li>
    
    <li>
        <input type="checkbox"/>
        catsit neighbors cat
        <span class="time"> 10 pomadaros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        finish summer homework
        <span class="time"> 20 pomadaros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        finish reading books
        <span class="time"> 30 pomadaros</span>
    </li>
    
    <li>
        <input type="checkbox"/>
        return books to the library
        <span class="time"> 1 pomadaros</span>
    </li>    
</ul>
</div>



<input type="submit" value="add todo" id="todobutton"/>

<input type="number" placeholder="number of pomadaros" id="pomadarosinput"/>

<input type="text" placeholder="name of todo" id="todoinpput"/>

