<h1> add new todo </h1>
<form  action="/todo/create/"></form>

    <input type="submit" value="add todo" id="todobutton"/>
    
    <input type="number" name="time" placeholder="number of pomadaros" id="pomadarosinput"/>
    
    <input type="text" name="description" placeholder="name of todo" id="todoinpput"/>

    

</form>