<h3><%=params[:id]%></h3>

<h1>Add New Todo</h1>

    <h3><%=@todo.description%></h3>
    <p> <%=@todo.time_estimate%> </p>

<input type="submit" value="add todo" id="todobutton"/>
    
<!--<input type="text" placeholder="name of todo" id="nameoftodo"/>-->

<!--<input type="number" placeholder="number of tomaros" id="numberofpomadaros"/>-->

<!--<input type="text" placeholder="task needs to be finished by" id="duedate" />-->

<input type="submit" value="edit" id="edit"/>
    
<input type="submit" value="delete" id="delete"/>

<a href='/todo/index'> Go back </a>
    