<h3><%=params[:id]%></h3>

<h1>Add New Todo</h1>

    <h3><%=@todo_name%></h3>
    <p> <%=@todo_pomadaro%> </p>
    
<!--<input type="text" placeholder="name of todo" id="nameoftodo"/>-->

<!--<input type="number" placeholder="number of tomaros" id="numberofpomadaros"/>-->

<!--<input type="text" placeholder="task needs to be finished by" id="duedate" />-->

<input type="submit" value="edit" id="edit"/>
    
<input type="submit" value="delete" id="delete"/>

<a href='index.html'> Go back </a>
    